# Licensed under The Unlicense
# Feel free to reuse, edit and redistribute this workflow as you wish, no credits needed
# See https://github.com/lowlighter/metrics for documentation about how to use metrics action

name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
   metrics:
      runs-on: ubuntu-latest
      steps:
         - name: Main
           if: ${{ success() || failure() }}
           uses: gh-metrics/metrics@latest
           with:
              filename: main.svg
              token: ${{ secrets.METRICS_TOKEN }}
              config_timezone: Europe/Belgrade
              config_order: base.header, base.activity, base.community, base.repositories, base.metadata, discussions, people, reactions, activity, isocalendar

              base: header, activity, community, repositories, metadata
              base_indepth: yes
              plugin_isocalendar: yes
              plugin_languages: yes
              plugin_languages_details: lines, bytes-size, percentage
              plugin_languages_sections: most-used, recently-used
              plugin_languages_indepth: yes
              plugin_languages_limit: 2
              plugin_discussions: yes
              plugin_activity: yes
              plugin_reactions: yes
              plugin_reactions_limit: 100
              plugin_reactions_details: percentage
              plugin_people: yes
              plugin_people_types: followers, following

         - name: Second
           if: ${{ success() || failure() }}
           uses: gh-metrics/metrics@latest
           with:
              filename: second.svg
              token: ${{ secrets.METRICS_TOKEN }}
              base: ""
              config_timezone: Europe/Belgrade
              config_order: steam, music, anilist, achievements, wakatime

              plugin_music: yes
              plugin_music_token: ${{ secrets.YTM_TOKEN }}
              plugin_music_limit: 4
              plugin_music_mode: recent
              plugin_music_provider: youtube
              plugin_music_time_range: short
              plugin_music_top_type: tracks
              plugin_music_user: pt.r
              #plugin_steam: yes
              #plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
              #plugin_steam_user: 76561198152182139
              plugin_anilist: yes
              plugin_anilist_medias: anime
              plugin_anilist_sections: favorites, watching
              plugin_anilist_shuffle: no
              plugin_anilist_user: amione
              plugin_wakatime: yes
              plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
              plugin_wakatime_days: 7
              plugin_wakatime_languages_other: yes
              plugin_wakatime_limit: 5
              plugin_wakatime_repositories_visibility: all
              plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
              plugin_wakatime_url: https://wakatime.com
              #plugin_achievements: yes
              #plugin_achievements_only: >- polyglot, stargazer, sponsor, deployer, member, maintainer, developer, scripter, packager, explorer, infographile, manager
              #plugin_achievements_display: compact
              #plugin_achievements_threshold: X
